<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<tbody>
  Pokemon:
</br>
  <% if @trainer == current_trainer %>
    <%= button_to "Create Pokemon!", new_pokemon_path, :class => "button medium", :method => :get %>
  <% end %>
</br>
  <% @trainer.pokemons.each do |pokemon| %>
    <% if pokemon.ndex %>
      <%= image_tag("pokemon/#{pokemon.ndex}.png", alt: "pokemon") %>
    <% end %>
    <tr>
      <p>Name: <%= pokemon.name if pokemon.name %></p>
      <p>Level: <%= pokemon.level if pokemon.level %></p>
      <p>Health: <%= pokemon.health if pokemon.health %></p>
      <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
    </tr>
  <% end %>
</tbody>
